:host {
  display: block;
  margin-block: 1.5rem;
}
article {
  border-top: 2px solid #f4bd22;
  padding-top: 1rem;
}
p,
li {
  line-height: 1.75;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
small {
  display: block;
  color: #12517b;
  font-size: 0.8rem;
}
section {
  margin-block: 1.2rem;
}
summary {
  cursor: pointer;
  color: #12517b;
}
